<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huimaibao.app">

    <!-- ======================授权访问网络（OkHttpUtil）========================== -->
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序访问有关GSM网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许一个程序访问精良位置(如GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 访问电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序写入外部存储，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序读外部存储，如SD卡上读文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 二维码 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--在sdcard中创建/删除文件的权限 动态-->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <!--添加号码到通讯录-->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".main.MainActivity"
            android:label="首页"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>


        <!--登录-->
        <receiver android:name=".login.LoginActivity$loginBroadcastReceiver">
            <intent-filter>
                <action android:name="com.huimaibao.app.CHOOSE_LOGIN_FINISH" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".login.LoginActivity"
            android:label="登录"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginSMSActivity"
            android:label="短信登录"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.RegisterActivity"
            android:label="注册"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.VerificationCodeActivity"
            android:label="验证码"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.ForgotActivity"
            android:label="忘记密码"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.BindActivity"
            android:label="绑定手机号"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginSetPWDActivity"
            android:label="设置密码"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".login.PerfectBActivity"
            android:label="完善信息"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".login.GuideActivity"
            android:label="引导页"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.library.act.ChannelActivity"
            android:label="频道管理"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.library.act.ImageShowActivity"
            android:label="图片浏览"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.home.act.LibraryActivity"
            android:label="文库"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.web.LibDetailsWebActivity"
            android:label="文库详情"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.library.act.focuson.FocusOnActivity"
            android:label="文库关注"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFocus" />
        <!--首页-->
        <!-- 二维码 -->
        <activity
            android:name=".zxing.act.CaptureActivity"
            android:label="全民推广"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".fragment.genseralize.GeneralizeActivity"
            android:label="全民推广"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.genseralize.ReleaseActivity"
            android:label="发布"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.genseralize.ReleaseShareActivity"
            android:label="我的发布分享记录"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.home.act.SreachActivity"
            android:label="搜索"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.home.act.SreachTypeActivity"
            android:label="搜索类型"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.home.act.MakingCardActivity"
            android:label="制作名片"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragment.home.act.CardDetailActivity"
            android:label="名片"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.home.act.CardShareActivity"
            android:label="名片"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.home.act.PersonalWebActivity"
            android:label="个人微网"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.web.PersonalWebDetailsActivity"
            android:label="个人微网详情"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.home.act.PersonalActivity"
            android:label="用户主页"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.home.act.ToCloneActivity"
            android:label="去克隆"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.home.act.MarketingWebActivity"
            android:label="营销网页"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.home.act.MarketingListActivity"
            android:label="营销榜单"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.home.act.IncomeListActivity"
            android:label="收入榜单"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.electcircle.act.MaterialLibActivity"
            android:label="素材库"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.electcircle.act.ShareRecordActivity"
            android:label="分享记录"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.electcircle.act.ShareTaskActivity"
            android:label="分享任务"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.electcircle.act.ElectPersonalActivity"
            android:label="互推人"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.electcircle.act.RegulationActivity"
            android:label="规则"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.electcircle.act.AreaActivity"
            android:label="推广区域"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--消息-->
        <activity
            android:name=".fragment.message.act.MessageActivity"
            android:label="消息"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.message.act.MessageCMActivity"
            android:label="客户管理"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.message.act.MessageListActivity"
            android:label="消息列表"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.web.MessageWebActivity"
            android:label="消息详情"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--我的-->
        <activity
            android:name=".fragment.mine.act.MyQRCodeActivity"
            android:label="我的二维码名片"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.act.BankCardActivity"
            android:label="银行卡"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.act.BankCardAddActivity"
            android:label="添加银行卡"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.act.BankCardDetailActivity"
            android:label="银行卡详情"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.act.BankCardDelActivity"
            android:label="解绑银行卡"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.act.BasicActivity"
            android:label="基本信息"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragment.mine.act.CardClipActivity"
            android:label="名片夹"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragment.mine.act.CardClipDetailActivity"
            android:label="名片夹详情"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.home.act.ReportActivity"
            android:label="举报"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragment.mine.act.CollectionActivity"
            android:label="收藏"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragment.mine.act.FeedbackActivity"
            android:label="意见反馈"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragment.mine.act.MarketingRewardActivity"
            android:label="营销奖励"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".fragment.mine.act.MarketingRewardToWalletActivity"
            android:label="转入钱包"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.act.MarketingTagActivity"
            android:label="营销标签"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.act.MemberActivity"
            android:label="会员中心"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.act.MoneyDetailActivity"
            android:label="资金明细"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.act.VeinTreasureActivity"
            android:label="脉宝"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".fragment.mine.act.VeinTreasureGivingActivity"
            android:label="赠送脉宝"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.act.VeinTreasureTopUpActivity"
            android:label="充值脉宝"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.act.WalletActivity"
            android:label="钱包"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.act.WithdrawalActivity"
            android:label="提现"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.act.WithdrawalDetailsActivity"
            android:label="提现详情"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".fragment.mine.act.SetActivity"
            android:label="设置"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.settings.AccountActivity"
            android:label="账号管理"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.settings.AccountPWDActivity"
            android:label="修改密码"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.settings.AccountPhoneActivity"
            android:label="更换手机号"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.settings.VerifyPhoneActivity"
            android:label="验证手机号"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.settings.PaymentActivity"
            android:label="支付管理"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.settings.PaymentPWDActivity"
            android:label="修改支付密码"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.settings.UserAgreementActivity"
            android:label="用户协议"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.settings.AboutUsActivity"
            android:label="关于我们"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.mine.act.AdvertSlogansActivity"
            android:label="广告标语"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.finds.act.FindsAddActivity"
            android:label="添加动态"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.finds.act.FindsCommentsActivity"
            android:label="评论动态"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.finds.act.FindsMSGActivity"
            android:label="消息动态"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.finds.act.FindsMyActivity"
            android:label="我的动态"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.finds.act.FindsPraiseActivity"
            android:label="点赞动态"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".fragment.web.HomePageWebActivity"
            android:label="主页"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pay.PayActivity"
            android:label="支付"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wx159e6dce2e784f2a" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".share.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>